body{
  width: 1280px;
  margin: 0 auto;
  font-family: Arial;
  box-sizing: border-box;
}
h2{
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}
.page-header{
    width: 100%;
    padding: 50px;
    background-color: #445162;
    box-sizing: border-box;
}
.page-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.page-header-wrapper{
    width: 458px;
    float: left;
}
.page-header-title{
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 60px;
    font-weight: 400; 
    margin: 0 0 51px 0;
}
.page-header-list{
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    margin: 0 0 0 0;
    padding: 0 0 0 30px;
    list-style-type: none;

    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    }
.page-header-list-item{
    position: relative;
}

.page-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 6px;
    left: -31px;
    background-image:url(img/icon/check_icon.png);
    background-size: cover;
}
.page-header-product-photo{
    display: block;
    background-color: #ffffff;
    float: right;
}
/вторая секция/
.about-product{
    padding: 50px;
    box-sizing: border-box;
}
.about-product:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.description-product{
    width: 653px;
    height: 201px;
    margin: 49px 0 0 50px;
    box-sizing: border-box;
    float: left;
}
.about{
    margin: 0 0 30px 0;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}
p {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.p-about{
    margin: 0 0 20px 0;
}

.video-section-second{
    display: block;
    width: 430px;
    height: 245px;
    float: right;
    margin:     50px 50px 50px 0;
    background-color: #445161;
}
/третья секция/
.dignity{
    width: 100%;
    
}
.third-section{
    padding: 50px 38px 15px 50px;
    background-color: #f5f5f5;
}
.third-section:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.dignity-heading{
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0; 
}
.third-section-items-left{
    float: left;
    width: 537px;
    padding: 0 0 0 50px;
}
.third-section-list-left{
    padding: 0;
    margin: 0;
}
.third-section-items-right{
    float: right;
    width: 536px;
}
.third-section-list-right{
    padding: 0;
    margin: 0;
}
.third-section-list-item{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    margin: 0 0 35px 0;
}
.third-section-list-item:before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 6px;
    left: -37px;
    background-color: #445161;
    background-image:url(../img/icon/plus_icon.png);
    background-size: auto;
    margin: 0 0 0 0px;
}
/четвертая секция/
.container {
  width: 1280px;
  margin: 0 auto;
}

.screenshots{
  width: 100%;
  min-height: 487px;
  padding: 50px;
  box-sizing: border-box;
  
}

.screenshots-title {
  width: 100%;
  margin: 0 0 35px 0;
  color: #445161;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  
}

.screenshots-item {
  width: 574px;
  margin: 0 0 30px 0;
  float: left;
  box-sizing: border-box;
  }

.screenshots-item:nth-child(3),
.screenshots-item:nth-child(5) {
  float: right;
}

.screenshots-item:nth-child(4),
.screenshots-item:nth-child(5) {
  margin: 0;
}

.screenshot-img {
  display: block;
  width: 200px;
  height: 150px;
  margin: 0 15px 0 0;
  float: left;
  background-color: #445161;
}

.screenshots-item-desc {
  margin: 0;
}

.screenshots-item-title {
  margin: 0 0 15px 0;
  color: #445161;
  text-align: left;
  font-size: 24px;
  font-weight: 400;
  /* line-height: 30px; */
}


.screenshots-item-txt {
  margin: 0;
  color: #333333;
  text-align: justify;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;

}
/*пятая секция*/
.reviews{
    padding: 50px;
    padding-bottom: 30px;
    box-sizing: border-box;
    width: 100%;
    background-color: #f5f5f5;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.reviews-title{
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    text-align: center;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}
.reviews-item{
    width: 48%;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}
.reviews-item-photo{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: #445161;
    margin: 6px 0 0 0px;
}
.reviews-item-txt{
    width: 80%;
    margin: 0;
    padding: 15px;
    box-sizing: border-box;
    background-color: #ebebeb;
    border-radius: 10px;
    position: relative;
}
.reviews-item-txt:before{
    content: "";
    display: block;
    border: 13px solid  transparent;
    border-right: 13px solid #ebebeb;
    position: absolute;
    top: 27px;
    left: -26px;
}
.reviews-item-txt-author{
    display: block;
    margin: 5px 0 0 0;
    font-weight: bold;
    color: #989898;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
}
/*6 секция*/
.prices{
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    background-color: #ffffff;
}
.prices-title{
    width: 100%;
    display: block;
    text-align: center;
    margin: 0 0 20px 0;
    box-sizing: border-box;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    
}
.price {
    width: 300px;
    padding: 0 0px 10px 0;
    border: 1px solid #445162;
    background-color: #445162;
    box-sizing: border-box;
    margin: 0 45px 0 0;
    border-radius: 2%;
}

.price-title {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.price-txt {
    display: block;
    width: 100%;
    text-align: center;
    background-color: #fff;
    padding: 10px;
    color: #445162;
    font-size: 40px;
    font-weight: 400;
    line-height: 30px;
    box-sizing: border-box;
}
.price-list{
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.price-btn {
  display: block;
  width: 260px;
  padding: 5px 10px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid transparent;
  text-transform: uppercase;
  outline: none;
  color: #445161;
}

.price-btn:hover {
  background-color: #445161;
  color: #fff;
  border: 1px solid #fff;
}

.price-btn:active {
  background-color: #fff;
  color: #445161;
}
/*footer и блок Contacts*/
.main-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 1280px;
    padding: 50px;
    background-color: #445162;
}
.main-footer-title {
    display: block;
    width: 100%;
    margin: 0 0 30px 0;
    color: #ffffff;
    font-family: "Arial";
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}
.main-footer-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 500px;
    margin: 0 46px 0 0;
}
.main-footer-form input[type="text"],
.main-footer-form input[type="email"],
.main-footer-form textarea {
    width: 100%;
    height: 40px;
    margin: 0 0 20px 0;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 5px;
    background-color: #ffffff;
    outline: none;
    text-transform: capitalize;
    font-family: arial;
}
.main-footer-form input[type="text"]:hover,
.main-footer-form input[type="email"]:hover,
.main-footer-form textarea:hover {
    background-color: gray;
    color: white;
    border-color: white;
}
.main-footer-form input[type="text"]:hover::placeholder,
.main-footer-form input[type="email"]:hover::placeholder,
.main-footer-form textarea:hover::placeholder {
    color: white;
}
.main-footer-form input[type="text"]:focus,
.main-footer-form input[type="email"]:focus,
.main-footer-form textarea:focus {
    background-color: gray;
    color: white;
    border: 2px solid green;
}
.main-footer-form textarea {
    width: 100%;
    height: 170px;
    resize: none;
}
.main-footer input[type="submit"] {
    width: 140px;
    height: 40px;
    border-radius: 5px;
    color: #445162;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    background-color: #ffffff;
}
.main-footer input[type="submit"]:hover{
    background-color: gray;
    color: white;
    border-color: white;
}
.main-footer input[type="submit"]:active {
    background-color:  #ffffff;
    color:  #445162;
}
.main-footer-contacts {
    width: 266px;
    height: 300px;
    border: 1px solid white;
}
.main-footer-contact a{
    display: block;
    height: 23px;
    color: #ffffff;
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    margin: 0 0 30px 0;
}
.icon-btn{
    color: white;
    filter: invert(100%);
}