body{
  width: 1280px;
  margin: 0 auto;
  font-family: Arial;
  box-sizing: border-box;
}
h2{
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}
.page-header{
    width: 100%;
    padding: 50px;
    background-color: #445162;
    box-sizing: border-box;
}
.page-header:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.page-header-wrapper{
    width: 458px;
    float: left;
}
.page-header-title{
   text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    font-size: 60px;
    font-weight: 400; 
    margin: 0 0 51px 0;
}
.page-header-list{
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
    color: #ffffff;
    margin: 0 0 0 0;
    padding: 0 0 0 30px;
    list-style-type: none;

    font-size: 20px;
    font-weight: 400;
    line-height: 36px;
    }
.page-header-list-item{
    position: relative;
}

.page-header-list-item:before {
    content: "";
    display: block;
    width: 25px;
    height: 19px;
    position: absolute;
    top: 6px;
    left: -31px;
    background-image:url(img/icon/check_icon.png);
    background-size: cover;
}
.page-header-product-photo{
    display: block;
    width: 469px;
    height: 214px;
    background-color: #ffffff;
    float: right;
}
/вторая секция/
.about-product{
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
}
.about-product:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.description-product{
    width: 653px;
    height: 201px;
    margin: 49px 0 0 50px;
    box-sizing: border-box;
    float: left;
}
.about{
    margin: 0 0 30px 0;
    color: #445161;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}
p {
    color: #333333;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.p-about{
    margin: 0 0 20px 0;
}

.video-section-second{
    display: block;
    width: 430px;
    height: 245px;
    float: right;
    margin: 50px 50px 50px 0;
    background-color: #445161;
}
/третья секция/
.dignity{
    width: 100%;
    
}
.third-section{
    padding: 50px 38px 15px 50px;
    background-color: #f5f5f5;
}
.third-section:after {
    content: "";
    display: block;
    width: 100%;
    clear: both;
}
.dignity-heading{
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 0 20px 0; 
}
.third-section-items-left{
    float: left;
    width: 537px;
    padding: 0 0 0 50px;
}
.third-section-list-left{
    padding: 0;
    margin: 0;
}
.third-section-items-right{
    float: right;
    width: 537px;
}
.third-section-list-right{
    padding: 0;
    margin: 0;
}
.third-section-list-item{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    position: relative;
    margin: 0 0 35px 0;
}
.third-section-list-item:before {
    content: "";
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 6px;
    left: -37px;
    background-color: #445161;
    background-image: url(img/icon/plus_icon.png);
    background-size: auto;
    margin: 0 0 0 0px;
}
/четвертая секция/
.container {
  width: 1280px;
  margin: 0 auto;
}

.screenshots{
  width: 100%;
  min-height: 487px;
  padding: 50px;
  box-sizing: border-box;
  }

.screenshots-title {
  width: 100%;
  margin: 0 0 35px 0;
  /*   height: 22px; */
  color: #445161;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
  
}

.screenshots-item {
  width: 574px;
  margin: 0 0 30px 0;
  float: left;
  box-sizing: border-box;
  }

.screenshots-item:nth-child(3),
.screenshots-item:nth-child(5) {
  float: right;
}

.screenshots-item:nth-child(4),
.screenshots-item:nth-child(5) {
  margin-bottom: ;
}

.screenshot-img {
  display: block;
  width: 200px;
  height: 150px;
  margin: 0 15px 0 0;
  float: left;
  background-color: #445161;
}

.screenshots-item-desc {
  margin: 0;
}

.screenshots-item-title {
  margin: 0 0 15px 0;
  color: #445161;
  text-align: left;
  font-size: 24px;
  font-weight: 400;
  /* line-height: 30px; */
}


.screenshots-item-txt {
  margin: 0;
  color: #333333;
  text-align: justify;
  font-size: 16px;
  line-height: 23px;
  font-weight: 400;
  color: #333333;